    <h4>Daftar Buku</h4>
    <% books.forEach((book, index) => { %>
      <ul>
        <li>nama buku: <%= book.namaBuku %> </li>
        <li>penerbit: <%= book.penerbit %> </li>
        <li>pengarang: <%= book.pengarang %> </li>
      </ul>
    <% }) %>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex in cum dolor quibusdam maiores. Non eum aliquid ut maiores quibusdam?</p>
